@font-face {
  font-family: "remixicon";
  src: url('../assets/fonts/remixicon.eot?t=1684338274817'); /* IE9*/
  src: url('../assets/fonts/remixicon.eot?t=1684338274817#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("../assets/fonts/remixicon.woff2?t=1684338274817") format("woff2"),
  url("../assets/fonts/remixicon.woff?t=1684338274817") format("woff"),
  url('../assets/fonts/remixicon.ttf?t=1684338274817') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/fonts/remixicon.svg?t=1684338274817#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}